.products-container {
  //   text-align: center;
  //   display: flex;
  //   flex-wrap: wrap;
  margin: 10px auto 60px;
  padding: 0 10px;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-content: space-around;
  justify-items: center;

  .product-card {
    width: 300px;
    min-height: 250px;
    margin: 30px;
    padding: 0 0 15px;
    border: 1px solid #dddddd;
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }

  img {
    max-width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .product-title {
    font-size: 16px;
    padding-top: 10px;
  }

  .product-category {
    padding: 10px;
    color: #474747;
  }

  .product-unit {
    color: #2c2c2c;
  }

  .buy-button {
    width: 50%;
    color: #ffffff;
    background: #1467d4;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid transparent;
  }

  .buy-button:hover {
    background: #2c7de7;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;

    .product-card {
      max-width: 170px;
    }

    img {
      max-width: 170px;
    }
  }
}
