.searchBar-container {
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;

  .searchBar-form {
    width: 100%;
  }

  .search-input {
    color: #000000;
    width: 40%;
    height: 45px;
    padding: 5px 15px;
    border: 1px solid #cacaca;
    border-radius: 20px 0 0 20px;
    //font-size: 16px;
  }

  .validate-error {
    border: 1px solid #ff0404;
  }

  button {
    color: #ffffff;
    background: #1467d4;
    padding: 5px 15px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 0 20px 20px 0;
  }

  button:hover {
    background: #2c7de7;
  }

  @media only screen and (max-width: 756px) {
    input[type="text"] {
      width: 60%;
    }
  }

  @media only screen and (min-width: 1500px) {
    input[type="text"] {
      max-width: 30%;
    }
  }
}

.homepage-style {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 40vh;
}
