.searchBar-container {
  text-align: center;
  padding: 30px 0;
  // margin-top: 30px;

  .searchBar-form {
    width: 100%;
  }

  .search-input {
    color: #000000;
    width: 40%;
    height: 45px;
    padding: 5px 15px;
    border: 1px solid #cacaca;
    border-radius: 20px 0 0 20px;
    //font-size: 16px;
  }

  .validate-error {
    border: 1px solid #ff0404;
  }

  button {
    color: #ffffff;
    background: #1467d4;
    padding: 5px 15px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 0 20px 20px 0;
  }

  button:hover {
    background: #2c7de7;
  }

  @media only screen and (max-width: 756px) {
    input[type="text"] {
      width: 60%;
    }
  }

  @media only screen and (min-width: 1500px) {
    input[type="text"] {
      max-width: 30%;
    }
  }
}

.homepage-searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //code below to make the home page only show the search bar
  // height: 100vh;
  // padding: 30vh 0;
  // position: absolute;
  // left: 50%;
  // top: 40%;
  // transform: translate(-50%, -40%);
  background: url("/images/home-data.jpg") no-repeat scroll;
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
}

.homepage-searchBar::after {
  content: " Something  good will happen";
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-style: italic;
  padding-top: 30px;
  // width: 100%;
  // white-space: pre;
  // flex: none;
}
