.header-container {
  text-align: center;
  // padding: 30px;
  height: 70px;
  background: #232323;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .header-container-logo {
    width: 20%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  //   .header-container-menu {
  //     width: 100%;

  .menu-container {
    list-style: none;
    width: 50%;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
  }

  .menu-item {
    color: #ffffff;
    text-decoration: none;
  }

  .menu-item:hover {
    color: #82cdff;
  }
}
