.container {
  //   text-align: center;
  background: url("/images/home-data.jpg");
  height: calc(100vh - 180px);

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    color: #000000;
    font-size: 6vw;
    font-weight: bold;
    mix-blend-mode: screen;
    height: 100%;
    text-align: center;
  }
}
